---
import Section from "../Section.astro";
import { Icon } from "astro-icon/components";

import { projects } from "@cv";
import { Image } from "astro:assets";
---

<Section className={Astro.props.className} title="Projects">
  <div class="grid grid-cols-1 gap-3 md:grid-cols-2 print:flex print:flex-col">
    {
      projects.map(
        ({
          url,
          description,
          highlights,
          name,
          isActive,
          github,
          image,
          type,
        }) => {
          const isBackgroundImage = image && image?.position === "background";
          const isContainerImage = image && image?.position === "container";
          return (
            <div
              role="contentinfo"
              class:list={[
                "project-container grid-span-1 group relative flex flex-col overflow-hidden rounded-md bg-skin-button-muted/50 p-5 shadow-sm ring-1",
                isActive ? "ring-skin-hue/20" : "ring-skin-muted",
              ]}
            >
              {isBackgroundImage && (
                <a data-src={image.url} data-fancybox="projects">
                  <div
                    class:list={[
                      "absolute inset-0 transform bg-cover bg-center bg-no-repeat opacity-30 blur-sm grayscale transition-all duration-300",
                      image.dark ? "dark:hidden" : "",
                    ]}
                    style={{ backgroundImage: `url(${image.url})` }}
                  />
                  {image.dark && (
                    <div
                      class="absolute inset-0 hidden transform bg-cover bg-center bg-no-repeat opacity-30 blur-sm grayscale transition-all duration-300 dark:block"
                      style={{ backgroundImage: `url(${image.dark})` }}
                    />
                  )}
                </a>
              )}
              <div
                class={`relative z-10 flex items-center justify-between space-x-[10px]`}
              >
                <div class="flex items-center gap-2">
                  <Icon name="mdi:folder-outline" class="size-4" />
                  <div class="flex items-center gap-[6px]">
                    {isActive ? (
                      <span class="group flex items-center gap-[6px] text-lg">
                        {name}
                      </span>
                    ) : (
                      <span>{name}</span>
                    )}
                  </div>
                </div>

                {github && (
                  <a
                    href={github}
                    title="View slug repository on GitHub"
                    target="_blank"
                    rel="noopener"
                    class="opacity-75 transition duration-100 hover:scale-125 hover:opacity-100"
                  >
                    <Icon name="mdi:github" width={24} height={24} />
                  </a>
                )}
              </div>

              <div class="mt-2 flex gap-2">
                {type &&
                  type.map((t) => {
                    return "url" in t && t.url ? (
                      <a href={t.url} target="_blank" rel="noopener">
                        <li class="flex items-center gap-1 rounded-md border border-solid border-skin-hue/0 bg-skin-button-accent/0 px-1 py-0.5 text-xs text-skin-hue hover:border-skin-hue/20 hover:bg-skin-button-accent/20 print:border-none print:bg-transparent print:p-0 print:text-zinc-800">
                          <Icon name={t.icon} width={14} height={14} />
                          <span>{t.platform}</span>
                        </li>
                      </a>
                    ) : (
                      <li class="flex items-center gap-1 rounded-md border border-solid border-skin-hue/0 bg-skin-button-accent/0 px-1 py-0.5 text-xs text-skin-hue print:border-none print:bg-transparent print:p-0 print:text-zinc-800">
                        <Icon name={t.icon} width={14} height={14} />
                        <span>{t.platform}</span>
                      </li>
                    );
                  })}
              </div>

              <p class={`relative z-10 py-3 text-sm text-skin-base`}>
                {description}
              </p>

              {highlights && highlights.length >= 1 && (
                <ul class={`relative z-10 mt-1 text-sm text-skin-inverted`}>
                  {highlights.map((h: string) => {
                    return <li>{h}</li>;
                  })}
                </ul>
              )}

              {isContainerImage && (
                <a data-src={image.url} data-fancybox="projects">
                  <Image
                    src={image.url}
                    alt=""
                    width={800}
                    height={1080}
                    class:list={[
                      "mt-3 max-w-full rounded-lg",
                      image.dark ? "dark:hidden" : "",
                    ]}
                  />
                  {image.dark && (
                    <Image
                      src={image.dark}
                      alt=""
                      width={800}
                      height={1080}
                      class="mt-3 hidden max-w-full rounded-lg dark:block"
                    />
                  )}
                </a>
              )}
              {isBackgroundImage && (
                <p class="absolute bottom-2 right-2 font-mono text-sm text-skin-muted">
                  Click blank to enlarge
                </p>
              )}
            </div>
          );
        },
      )
    }
  </div>
</Section>
<script>
  import { Fancybox } from "@fancyapps/ui";
  Fancybox.bind('[data-fancybox="projects"]', { hideScrollbar: false });
</script>

<style>
  ul {
    @apply ml-4 list-disc space-y-1;
    li {
      @apply text-skin-muted;
    }
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: 0.6rem;
  }

  footer span {
    border-radius: 6px;
    background: #eee;
    color: #444;
    font-size: 0.6rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
  }
</style>
